<!-- <h1>Hello World</h1>
{{title}} -->
<div class="navigation">
    <button routerLink="/">MAIN</button>
    <button routerLink="/about">ABOUT</button>

    <hr>
        <div *ngFor="let person of ( people | sortAge )">
            {{person.name}} - {{person.age}}
        </div>
    <hr>


    <p>{{ title | uppercase }}</p>
</div>

<!-- <div *ngFor="let element of pokemons">
    {{element.name}}
</div> -->
<div *ngFor="let element of (pokemonsObs$ | async)">
    {{element.name}}
</div>

<router-outlet></router-outlet>
